<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title | default: site.title }}</title>

  <!-- Basic SEO meta tags -->
  <meta name="description" content="Portfolio of Dan Hlevca, an aerodynamics engineer specializing in flow control, CFD, wind turbine optimization, and machine learning.">
  <meta name="keywords" content="Dan Hlevca, Hlevca, Hlevca Dan, aerodynamics, CFD, flow control, wind turbines, vertical axis turbine, shrouded turbine, data science, machine learning, engineering portfolio">
  <meta name="author" content="Dan Hlevca">

  <!-- Google Fonts -->
  {% for font in page.common-googlefonts | default: site.common-googlefonts %}
    <link href="https://fonts.googleapis.com/css?family={{ font }}" rel="stylesheet" type="text/css">
  {% endfor %}

  <!-- External CSS -->
  {% for css in page.common-ext-css | default: site.common-ext-css %}
    <link rel="stylesheet" href="{{ css }}">
  {% endfor %}

  <!-- Internal CSS -->
  {% for css in page.common-css | default: site.common-css %}
    <link rel="stylesheet" href="{{ css | relative_url }}">
  {% endfor %}

  <!-- Favicon (optional) -->
  <!-- <link rel="icon" href="/assets/favicon.ico"> -->
</head>
